<div id="filterrific_results">

    <!--
      TODO: fix this partial so that it can be used in multiple places.
      We mustn't rely upon @camps in this view, and instead listen properly
      to the 'camps' local that should be passed in. There's a couple other
      troubles with this partial as it stands today, but I'll let the hackers
      figure those ones out ;)
    -->

    <%=t :sort_by%>:
    <%= filterrific_sorting_link(@filterrific, :updated_at) %>

    <div class="camps_list">
        
        <% @camps.each do |camp| %>
            <%= render :partial => 'camps/card', locals: { camp: camp, display_desc: true, css_classes: "col-md-4" } %>
        <% end %>

    </div>
</div>
